# Introduzione al Machine Learning 2023-2024
## Bernardini Jacopo, Ciocca Giorgio, Marini Tommaso
### Exam Project, First Part: Data Exploration, Clustering  and Classification

Libraries import

In [12]:
import numpy as np
import pandas as pd

File reading and substitution of 'notknown' values with NaNs

In [13]:
filename = r'C:\Users\giorg\Desktop\uni\magistrale\Introduzione al Machine Learning\Project\IML-1\code\data\pums.csv'
data = pd.read_csv(filename, na_values='notknown')
data

,AGEP,SCHL,MAR,RELP,DIS,ESP,CIT,MIG,MIL,ANC,NATIVITY,DEAR,DEYE,DREM,SEX,ESR
0,21.0,16.0,5.0,17.0,2.0,0.0,1.0,1.0,4.0,1.0,1.0,2.0,2.0,2.0,2.0,True
1,19.0,16.0,5.0,17.0,2.0,0.0,1.0,1.0,4.0,1.0,1.0,2.0,2.0,2.0,2.0,False
2,24.0,12.0,5.0,16.0,1.0,0.0,1.0,1.0,4.0,1.0,1.0,2.0,2.0,1.0,1.0,False
3,20.0,16.0,5.0,17.0,2.0,0.0,1.0,1.0,3.0,1.0,1.0,2.0,NaN,2.0,2.0,True
4,31.0,17.0,5.0,17.0,2.0,0.0,1.0,3.0,4.0,4.0,1.0,2.0,2.0,2.0,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746331,7.0,4.0,5.0,2.0,2.0,1.0,1.0,1.0,0.0,2.0,1.0,2.0,2.0,2.0,2.0,False
746332,47.0,NaN,1.0,0.0,1.0,0.0,1.0,1.0,4.0,4.0,NaN,1.0,1.0,2.0,1.0,False
746333,35.0,14.0,1.0,1.0,2.0,0.0,1.0,1.0,4.0,4.0,1.0,2.0,2.0,2.0,2.0,False
746334,9.0,7.0,5.0,2.0,2.0,4.0,1.0,1.0,0.0,4.0,1.0,2.0,2.0,2.0,2.0,False
746335,15.0,12.0,5.0,4.0,2.0,4.0,1.0,1.0,0.0,4.0,1.0,2.0,2.0,2.0,1.0,False

First data check

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746336 entries, 0 to 746335
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AGEP      746336 non-null  float64
 1   SCHL      709133 non-null  float64
 2   MAR       746336 non-null  float64
 3   RELP      709213 non-null  float64
 4   DIS       746336 non-null  float64
 5   ESP       746336 non-null  float64
 6   CIT       709287 non-null  float64
 7   MIG       746336 non-null  float64
 8   MIL       746336 non-null  float64
 9   ANC       746336 non-null  float64
 10  NATIVITY  708813 non-null  float64
 11  DEAR      708974 non-null  float64
 12  DEYE      709267 non-null  float64
 13  DREM      746336 non-null  float64
 14  SEX       746336 non-null  float64
 15  ESR       746336 non-null  bool
dtypes: bool(1), float64(15)
memory usage: 86.1 MB